@charset "UTF-8";
@font-face {
    font-family:'Billionstar' ;
    src: url('../fonte/Billionstar.ttf');
    font-family: 'CaviarDreams';
    src: url('../fonte/CaviarDreams.ttf');
    font-family: 'Bizantheum';
    src: url('../fonte/Bizantheum.otf');
    
}
:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Billionstar', Geneva, Tahoma, sans-serif; 
    --fonte3:'CaviarDreams', Geneva, Tahoma, sans-serif; 
    --fonte4:'Bizantheum', Geneva, Tahoma, sans-serif; 
}
* {
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: rgba(163, 122, 122, 0);
}
menu {
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    text-align: center;
    margin-top: -68px;
    padding: 30px;
    margin-left: -34px;
}
menu >a {
    color: white;
    padding: 10px;
    border-radius: 10px;
}
p {
    font-family: var(--fonte3);
}
a {
    text-decoration: none;
}
menu>a:hover{
    background-color: #fc94ea8f;
    color: black;
    border-radius: 10px;
    transition: 0.5s;

}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(51, 51, 51);
    background-position: right center;
    background-size: cover;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.534);
    background-attachment: fixed;
    
}


section.imagem >p {
    width: 300px;
    background-color: rgba(8, 5, 5, 0.5);
    background-size: cover;
    text-shadow: 1px 1px 5px rgb(0 0 0);
    font-size: 25px;
    margin-top: 114px;
    margin-bottom: 12rem;
    margin-right: 21px;
    margin-left: 10px;
    padding-left: 10px;
    
}

div{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-left: -30px;
}

input{
    padding: 5px;
    border-radius: 10px;
    
}
h3 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
    font-family: var(--fonte4);
    font-size: 50px;
}
section.normal >p {
    width: 360px;
    height: 30px;
    margin: auto;
    padding-bottom: 40px;
}

section#img001{
    background-image: url(../imagens/pousada1.jpeg);
    

}
section#img002{
    background-image: url(../imagens/pousada3.jpeg);
    background-position: left center;
    
}
section#img003{
    background-image: url(../imagens/pousada2.jpeg);
    background-position: left center;
    
}
section.normal {
    
    background-repeat: no-repeat;
    background-position: center 200px;
    background-size: cover;
    
    
}
#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
#redes-sociais img:hover{
    border: 2px solid white;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.650);
    transition: 0.3s border .2s;

}

footer {
text-align: center;
color: white;
padding: 10px;
background-color: black;
}


iframe#q1 {
    position: relative;
    left: -25px;
    width: 300px;
    height: 336px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px 10px 10px ;
       
}


