@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
    
* {
    margin: 0px;
    padding: 0px;
}
html , body {
    min-height: 100vh;
    background-color: rgb(255, 252, 252);
    font-family: var(--fonte1);
    
}

header {
    background-color: rgba(247, 178, 218, 0.87);
    color: white;
    text-align: center;
    font-size: 2vw;
}
menu {
    padding: 3px;
    background-color: #12101052;
    margin: -84px 0px 14px -31px;
    text-align: right;
    
}

header > h1{
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: left;
     text-shadow: 2px 8px 5px black;
     text-transform: small-caps;
     font-family: 'Times New Roman', Times, serif;
     
}
header > p{
    padding-bottom: 30px;
    
}
menu> a{
    padding-top: 0px;
    color: rgb(255, 251, 251);
    text-decoration: none;
    font-weight: lighter;
    text-align: left;
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: 30px;
    
}
a:hover{
    text-decoration: underline;

}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size:  2.3vw;
}
section.imagem{
    background-color: rgb(44, 43, 43);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed ;

}

section.imagem > p {
    display: inline-block ;
    background-color: rgba(0, 0, 0, 0.288);
    text-shadow: 1px 1px 0px black;
    font-size: 30px;
   
}

section > p{
    padding-bottom: 2em;
}
footer{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
}
.normal{
    background-color: rgb(252, 252, 252);
    color: rgb(7, 1, 1);
}
.imagem{
    background-color: rgb(31, 30, 30);
    color: white;
    box-shadow: inset 9px 12px 13px rgb(0 0 0 / 47%);

}

section#img001{
    background-image: url(../imagens/pousada1.jpeg);
    background-position: right center;
   
    

}

section#img002{
    background-image: url(../imagens/);
    background-position: right center;
    
    
}