@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@font-face {
    font-family:'Billionstar';
    src: url('../fonte/Billionstar.ttf');
    font-family: 'RestolliaScript';
    src: url('..//fonte/RestolliaScript_PERSONAL_USE_ONLY.otf');
    font-family:'CaviarDreams';
    src: url('../fonte/CaviarDreams.ttf');
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', Verdana, Geneva, Tahoma, sans-serif;
    --fonte3: 'Sriracha', Verdana, Geneva, Tahoma, sans-serif;
    --fonte4: 'Billionstar', Verdana, Geneva, Tahoma, sans-serif;
    --fonte5: 'RestolliaScript', Verdana, Geneva, Tahoma, sans-serif;
    --fonte6: 'CaviarDreams',Verdana, Geneva, Tahoma, sans-serif;
}
    
* {
    margin: 0px;
    padding: 0px;
}
html , body {
    min-height: 100vh;
    background-color: rgb(255, 252, 252);
    font-family: var(--fonte1);
    width: 100%;
    height: auto;
    
}

header {
    background-color: rgba(247, 178, 218, 0.87);
    color: white;
    text-align: center;
    font-size: 2vw;
}
menu {
    padding: 22px;
    background-color: #12101052;
    margin: -78px 0px 49px -37px;
    text-align: right;
    display: flexbox;
    
}

header > h1{
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: left;
     text-shadow: 2px 8px 5px black;
     text-transform: small-caps;
     font-family: 'Times New Roman', Times, serif;
     
}
h2{
    text-align: center ;
    font-size: 50px;
    font-family: var(--fonte6);
    line-height: 1em;
}
.apres{
    font-family: var(--fonte6);
    font-size: 15px;
    line-height: 1em;
    width: 700px;
    margin: auto;
}
.apres >p{
       margin-top: 10px;
       
}
.pousada{
    padding-left: 47%;
}
.textocasa{
    text-align: center;
}

header > p{
    padding-bottom: 30px;
    
}
menu> a{
    padding-top: 0px;
    color: rgb(255, 251, 251);
    text-decoration: none;
    text-shadow: 1px 1px 5px black;
    font-weight: lighter;
    text-align: left;
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: 20px;
    
    
}
menu>a:hover{
    background-color: rgba(248, 175, 141, 0.308);
    border-radius: 10px;
    transition: 1s;

}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size:  2.3vw;
}
section.imagem{
    background-color: rgb(44, 43, 43);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

}

section.imagem > p {
    display: inline-block ;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.555);
    text-shadow: 1px 1px 0px black;
    font-size: 30px;
   
}

section > p{
    padding-bottom: 1em;
}
footer{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
}
.normal{
    background-color: rgb(252, 252, 252);
    color: rgb(7, 1, 1);
   
}
.imagem{
    background-color: rgb(31, 30, 30);
    color: white;
    box-shadow: inset 9px 12px 13px rgb(0 0 0 / 47%);
    margin: auto;

}

section#img001{
    width: 100%;
    background-image: url(../imagens/pousada1.jpeg);
    background-position: center;
    margin: auto;
   
    

}

section#img002{
    background-image: url(../imagens/pousada2.jpeg);
    background-position: right center;
    
    
}


section#img003{
    background-image: url(../imagens/pousada3.jpeg);
    background-position: right center;
    
    
}
#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
#redes-sociais img:hover{
    border: 2px solid white;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.650);
    transition: 0.3s border .2s;


    
}